<section id="homeSection">
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1>Instructions</h1>
    </div>
    <div class="col-xs-12 text-center">
      <textarea id="txtInput" ng-model="inputText" rows="10" cols="50">
      </textarea>
    </div>
    <div class="col-xs-12 text-center">
      <input type="button" value="calcular" ng-click="sendData(inputText)" />
    </div>
    <div class="col-xs-12 text-center">
      <textarea id="txtResult" rows="10" cols="50">
      </textarea>
    </div>

  </div>
<div/>
</section>
